main.general {
  position: relative;
  height: 50%;
  width: 50vw; 
  max-width: 450px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
  gap:0.3rem;
  margin: 1rem;
  border-style: solid;
  padding: 2rem;
  border-radius: 5px;
}