
<main class="general">
    <label>Graduate Email:</label>
    <input type="text" [(ngModel)]="email"/>

    <label>Select Level-Up</label>
    <select name="levelUps" [(ngModel)]="levelUp" (change)="getSyndicates()">
        <option *ngFor="let lu of levelUps" [value]="lu">{{ lu }}</option>
    </select>

    <label>Select Syndicate</label>
    <select name="syndicates"[(ngModel)]="syndicateName">
        <option *ngFor="let syndicate of syndicates" [value]="syndicate.name">{{ syndicate.name }}</option>
    </select>

    <button (click)="addSyndicate()"> Add </button>
</main>